body {
    font-family: 'Lato', sans-serif !important;
}

.container .content .panel {
    margin-top: 10px;
}


.container .content p {
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 50px;
    font-size: 25px;
}

.content h3 {
   
    font-size: 15px;
    padding-left:70px;
    padding-bottom: 20px;
}

.container .content .btn {
    margin-bottom: 10px;
    margin-left: 68px;
}

.container .content .hero {
   
    padding-left: 20px;
}

.container .content .stok {
    padding-top: 0;
}

.container .content form {
    margin-top: 50px;
    margin-bottom: 50px;
}

.container .content .simpan {
    margin-top: 20px;
}

